.popup__container_type_image-modal {
  width: 433px;
  height: 540px;
  padding: 0;
  margin: 0;
  background: none;
}

@media screen and (max-width: 577px){
  .popup__container_type_image-modal {
    width: 240px;
    height: 299px;
  }
}
