.profile {
  max-width: calc(100% - 400px);
  padding: 0;
  margin: 40px auto 0;
  display: flex;
}

@media screen and (max-width: 898px){
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}