.popup__save {
  background: black;
  color: white;
  padding: 0;
  margin: 48px 0 0;
  height: 50px;
  border-radius: 2px;
  border-style: none;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.6;
}

