.card__content {
  display: flex;
  max-width: 246px;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 31px 21px;
  margin: 0;
  background-color: white;
  /* border-radius: 0px 0px 10px 10px; */
}