.popup__name {
  margin: 43px 0 0;
  padding: 0 0 13.34px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
}