.button-edit {
  padding: 0;
  margin: 37px 0 0 18px;
  height: 24px;
  width: 24px;
  background: #000;
  border: 1px solid #FFFFFF;
  transition: opacity 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.button-edit:hover {
  opacity: 0.6;
}


@media screen and (max-width: 320px){
  .button-edit {
    height: 18px;
    width: 18px;
    margin: 4px 0 0 10px;
  }
}