.popup__title_type_image-modal {
  color: white;
  line-height: 1.25;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  margin: 10px 0px 0px;
  position: absolute;
  left: 0px;
  bottom: -20px;

}