.card__button {
  padding: 0;
  margin: 0;
  max-width: 21px;
  max-height: 19px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none;
  background: white;
  cursor: pointer;
}

.button-add:hover {
  opacity: 0.6;
}