.popup__close {
  padding: 0;
  margin: 0;
  position: absolute;
  border-style: none;
  height: 40px;
  width: 40px;
  top: -32px;
  right: -32px;
  background-color: transparent;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 577px){
  .popup__close {
    top: -40.62px;
    right: 0;
    height: 26px;
    width: 26px;
  }
}

