.popup__close {
  padding: 0;
  margin: 0;
  position: absolute;
  border-style: none;
  height: 40px;
  width: 40px;
  top: -32px;
  right: -32px;
  background: black;
  z-index: -1;
}

@media screen and (max-width: 577px){
  .popup__close {
    top: -53.62px;
    right: 0;
  }
}