.profile__info {
  margin: 0 0 0 30px;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
}

@media screen and (max-width: 898px){
  .profile__info {

  }
}

@media screen and (max-width: 320px){
  .profile__info {
    text-align: center;
    margin: 0;
  }
}
