.profile__about-me {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
}

@media screen and (max-width: 898px){
  .profile__about-me {
    text-align: center;
  }
}

@media screen and (max-width: 320px){
  .profile__about-me {
    font-size: 14px;
    line-height: 1.21;
  }
}